body{
  height: 100vh;
  background: linear-gradient( to bottom, rgb(70, 1, 135) 20%, rgb(232, 226, 242) 100%);
}

.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
